/* GestionnaireDEmprunt */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

body {
    font-family: "Open Sans", sans-serif;
    /* background by SVGBackgrounds.com */
    background: #ffffff url("../images/background.svg") fixed;
}

h1, h2, h3, h4, h5, p {
    font-family: "Montserrat", sans-serif;
}
