/* GestionnaireDEmprunt */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, p {
    font-family: "Montserrat", sans-serif;
}

.topnav {
    background-color: #D9D9D9;
    overflow: hidden;
  }
.topnav a{
    text-decoration: none;
    font-size: 17px;
    color: black;
}
.link-top {
    transition: background-color 0.5s ease-out 100ms;
    transition: color 0.5 ease-out 100ms;
}
.link-top:hover{

    background-color: #0D6EFD;
    color: white;
}
.Title{
    margin-right: 51%;
}

